{include="header"}

<link rel="stylesheet" href="{#FS_PATH#}plugins/escaparate_catalogo/view/css/escaparate.css" />

<div class="container-fluid" style="margin-bottom: 10px;">
   <div class="row">
      <div class="col-xs-12">
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="Marcada como página de inicio (pulsa de nuevo para desmarcar)">
               <i class="fa fa-bookmark" aria-hidden="true"></i>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio">
               <i class="fa fa-bookmark-o" aria-hidden="true"></i>
            </a>
            {/if}
         </div>
         
         <div class="btn-group">
            <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Imprimir Catálogo <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
               <li><a target="_blank" href="index.php?page=catalogo_imprimir&query={$fsc->query}&b_codfabricante={$fsc->b_codfabricante}&b_codalmacen={$fsc->b_codalmacen}&b_codfamilia={$fsc->b_codfamilia}&b_codtarifa={$fsc->b_codtarifa}&b_orden={$fsc->b_orden}&b_constock={$fsc->b_constock}&b_bloqueados={$fsc->b_bloqueados}&b_publicos={$fsc->b_publicos}&sinimagen=False">No incluir artículos sin imágen</a></li>
               <li><a target="_blank" href="index.php?page=catalogo_imprimir&query={$fsc->query}&b_codfabricante={$fsc->b_codfabricante}&b_codalmacen={$fsc->b_codalmacen}&b_codfamilia={$fsc->b_codfamilia}&b_codtarifa={$fsc->b_codtarifa}&b_orden={$fsc->b_orden}&b_constock={$fsc->b_constock}&b_bloqueados={$fsc->b_bloqueados}&b_publicos={$fsc->b_publicos}&sinimagen=True">Incluir artículos sin imágen</a></li>
            </ul>
         </div>
         
         <div class="btn-group">
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
   </div>
</div>

<div class="container-fluid">
   <form name="f_custom_search" action="{$fsc->url()}" method="post" class="form">
      <div class="container-fluid" style="margin-top: 15px;">
         <div class="row">
            <div class="col-sm-2">
               <div class='form-group{if="$fsc->query"} has-success{/if}'>
                  <div class="input-group">
                     <input class="form-control" type="text" name="query" value="{$fsc->query}" autocomplete="off" placeholder="Buscar">
                     <span class="input-group-btn">
                        <button class="btn btn-primary hidden-sm" type="submit">
                           <span class="glyphicon glyphicon-search"></span>
                        </button>
                     </span>
                  </div>
               </div>
            </div>
            {if="count($fsc->almacenes)>1"}
            <div class="col-sm-2">
               <div class='form-group{if="$fsc->b_codalmacen"} has-success{/if}'>
                  <select class="form-control" name="b_codalmacen" onchange="this.form.submit()">
                     <option value="">Todos los almacenes</option>
                     <option value="">-----</option>
                     {loop="$fsc->almacenes"}
                     {if="$value->codalmacen==$fsc->b_codalmacen"}
                     <option value="{$value->codalmacen}" selected="">{$value->nombre}</option>
                     {else}
                     <option value="{$value->codalmacen}">{$value->nombre}</option>
                     {/if}
                     {/loop}
                  </select>
               </div>
            </div>
            {else}
            <input type="hidden" name="b_codalmacen" value=""/>
            {/if}
            <div class="col-sm-3">
               <div class='form-group{if="$fsc->b_codfamilia"} has-success{/if}'>
                  <div class="input-group">
                     <select class="form-control" name="b_codfamilia" onchange="this.form.submit()">
                        <option value="">Todas las familias</option>
                        <option value="">-----</option>
                        {loop="$fsc->familia->all()"}
                        {if="$value->codfamilia==$fsc->b_codfamilia"}
                        <option value="{$value->codfamilia}" selected="">{$value->nivel}{$value->descripcion}</option>
                        {else}
                        <option value="{$value->codfamilia}">{$value->nivel}{$value->descripcion}</option>
                        {/if}
                        {/loop}
                     </select>
                     <span class="input-group-addon" title="incluir subfamilias">
                        {if="$fsc->b_subfamilias"}
                        <input type="checkbox" name="b_subfamilias" value="TRUE" checked="" onchange="this.form.submit()">
                        {else}
                        <input type="checkbox" name="b_subfamilias" value="TRUE" onchange="this.form.submit()">
                        {/if}
                        <i class="fa fa-sitemap" aria-hidden="true"></i>
                     </span>
                  </div>
               </div>
            </div>
            <div class="col-sm-2">
               <div class='form-group{if="$fsc->b_codfabricante"} has-success{/if}'>
                  <select class="form-control" name="b_codfabricante" onchange="this.form.submit()">
                     <option value="">Todos los fabricantes</option>
                     <option value="">-----</option>
                     {loop="$fsc->fabricante->all()"}
                     {if="$value->codfabricante==$fsc->b_codfabricante"}
                     <option value="{$value->codfabricante}" selected="">{$value->nombre}</option>
                     {else}
                     <option value="{$value->codfabricante}">{$value->nombre}</option>
                     {/if}
                     {/loop}
                  </select>
               </div>
            </div>
            <div class="col-sm-2">
               <div class='form-group{if="$fsc->b_codtarifa"} has-success{/if}'>
                  <div class="input-group">
                     <select name="b_codtarifa" class="form-control" onchange="this.form.submit()">
                        <option value="">Ninguna tarifa</option>
                        <option value="">---</option>
                        {loop="$fsc->tarifa->all()"}
                        {if="$value->codtarifa==$fsc->b_codtarifa"}
                        <option value="{$value->codtarifa}" selected="">{$value->nombre}</option>
                        {else}
                        <option value="{$value->codtarifa}">{$value->nombre}</option>
                        {/if}
                        {/loop}
                     </select>
                     <span class="input-group-btn" title="Descargar">
                        <a class="btn btn-info" href="{$fsc->b_url}&download=csv" title="Descargar en formato CSV">
                           <span class="glyphicon glyphicon-download-alt"></span>
                        </a>
                     </span>
                  </div>
               </div>
            </div>
            {if="count($fsc->almacenes)<=1"}
            <div class="col-sm-2"></div>
            {/if}
            <div class="col-sm-1 text-right">
               <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                     <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                     <li>
                        <a href="{$fsc->b_url}&b_orden=refmin&offset={$fsc->offset}">
                           <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                           &nbsp; Referencia &nbsp;
                           {if="$fsc->b_orden=='refmin'"}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{/if}
                        </a>
                     </li>
                     <li>
                        <a href="{$fsc->b_url}&b_orden=refmax&offset={$fsc->offset}">
                           <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                           &nbsp; Referencia &nbsp;
                           {if="$fsc->b_orden=='refmax'"}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{/if}
                        </a>
                     </li>
                     <li>
                        <a href="{$fsc->b_url}&b_orden=descmin&offset={$fsc->offset}">
                           <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                           &nbsp; Descripción &nbsp;
                           {if="$fsc->b_orden=='descmin'"}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{/if}
                        </a>
                     </li>
                     <li>
                        <a href="{$fsc->b_url}&b_orden=descmax&offset={$fsc->offset}">
                           <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                           &nbsp; Descripción &nbsp;
                           {if="$fsc->b_orden=='descmax'"}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{/if}
                        </a>
                     </li>
                     <li>
                        <a href="{$fsc->b_url}&b_orden=preciomin&offset={$fsc->offset}">
                           <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                           &nbsp; Precio &nbsp;
                           {if="$fsc->b_orden=='preciomin'"}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{/if}
                        </a>
                     </li>
                     <li>
                        <a href="{$fsc->b_url}&b_orden=preciomax&offset={$fsc->offset}">
                           <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                           &nbsp; Precio &nbsp;
                           {if="$fsc->b_orden=='preciomax'"}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{/if}
                        </a>
                     </li>
                     <li>
                        <a href="{$fsc->b_url}&b_orden=stockmin&offset={$fsc->offset}">
                           <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                           &nbsp; Stock &nbsp;
                           {if="$fsc->b_orden=='stockmin'"}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{/if}
                        </a>
                     </li>
                     <li>
                        <a href="{$fsc->b_url}&b_orden=stockmax&offset={$fsc->offset}">
                           <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                           &nbsp; Stock &nbsp;
                           {if="$fsc->b_orden=='stockmax'"}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{/if}
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="form-group">
                  <label class="checkbox-inline">
                     {if="$fsc->b_constock"}
                     <input type="checkbox" name="b_constock" checked="" value="TRUE" onchange="this.form.submit()"/>
                     {else}
                     <input type="checkbox" name="b_constock" value="TRUE" onchange="this.form.submit()"/>
                     {/if}
                     Con stock
                  </label>
                  <label class="checkbox-inline">
                     {if="$fsc->b_bloqueados"}
                     <input type="checkbox" name="b_bloqueados" checked="" value="TRUE" onchange="this.form.submit()"/>
                     {else}
                     <input type="checkbox" name="b_bloqueados" value="TRUE" onchange="this.form.submit()"/>
                     {/if}
                     Bloqueados
                  </label>
                  <label class="checkbox-inline">
                     {if="$fsc->b_publicos"}
                     <input type="checkbox" name="b_publicos" checked="" value="TRUE" onchange="this.form.submit()"/>
                     {else}
                     <input type="checkbox" name="b_publicos" value="TRUE" onchange="this.form.submit()"/>
                     {/if}
                     Públicos
                  </label>
               </div>
            </div>
         </div>
      </div>
   </form>

   <div class="container-fluid">
      <div class="row display-flex">
         {loop="$fsc->resultados"}
         <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"> 
            {$img=$value->imagen_url()}
            {if="$img"}
            <img src="{$img}" style="width:90%;margin: 0px 5% 0px 5%;" class="img-responsive">
            {else}
            <img src="plugins/escaparate_catalogo/sinimagen.jpg" style="width:90%;margin: 0px 5% 0px 5%;" class="img-responsive">
            {/if}
            <br/>
            <a href="{$value->url()}">{$value->descripcion()} - {$value->referencia}</a>
            <br/>
            {$fsc->show_precio($value->pvp, FALSE, TRUE, FS_NF0_ART)}
         </div>
         {/loop}
      </div>
   </div>

   <div class="text-center">
      <ul class="pagination">
         {loop="$fsc->paginas()"}
         <li{if="$value['actual']"} class="active"{/if}>
            <a href="{$value['url']}">{$value['num']}</a>
         </li>
         {/loop}
      </ul>
   </div>
</div>

{include="footer"}